<% if @revision.nil? %>
  <div class='dropSlot' id='slot0'>
    <div class='dragItem ui-draggable' id='layer0'>Layer 1</div>
    </div>
<% else %>
  <% layers = @revision.layers.select{|l| l.name != 'thumb'} %>
  <% layers.sort{|a,b| b.zorder <=> a.zorder}.each_with_index do |layer, i| %>
    <div class='dropSlot' id='slot<%= i %>'>
      <div class='dragItem ui-draggable' id='layer<%= layer.id %>'><%= layer.name %></div>
    </div>
  <% end %>
  
  <script type='text/javascript'>
    var layers = <%= raw layers %>    
    $('.dropSlot').droppable({
      accept: '.dragItem',
      hoverClass: '.dragHovered',
      drop: handleDropLayer
    });

    $('.dragItem').draggable({
      containment: '.layersPane',
      snap: '.dropSlot',
      cursor: 'move',
      revert: true,
      stack: '.layersPane .dropSlot'
    });

  </script>
<% end %>
