// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scribble a {
  background-image: url(../wymeditor/skins/default/icons.png);

}

.lightbox {
  position: absolute;
  border: blue solid 2px;
  min-width: 200px;
  background: white;
}

#optionsPane a {
  padding: 0px 5px;
}

#optionsPane a.selected {
  background: #ffff88;
}

#myCanvas {
  border: 1px black solid;
}

#backCanvas {
  display: none;
}

#floatingImage {
  position: absolute;
  padding: 5px;
  border: 1px dashed gray;
}
